.ms_my-table{
    border: 1px solid lightgray;
    border-radius: 0.25rem;
    .ms_table-head-row{
        border-bottom: 1px solid lightgray;
    }
    .ms_table-row, .ms_table-head-row{
        display: flex;
        align-items: center;
        .ms_table-title, .ms_table-cell{
            padding: 0.5rem 1rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .ms_table-title{
            font-weight: bold;
        }
    }
}

.ms_must-compiled{
    color: red;
    font-size: 11px;
    margin-bottom: 0.5rem;
}

.ms_a-inherit{
    color: rgb(33, 37, 41);
    text-decoration: none;
    &:hover{
        color: inherit;
    }
}

// remove arrows from input number
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

